header {
font-family:"Roboto";
color:#F5F0ED;
text-align: center;
}

body {
background-color:#7DA2A9;
}

img {
    max-width: 100%;
    height: auto;
}

fieldset{
    border: 2px solid #7DA2A9;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1rem 1rem;
}

#hero{
    flex: auto;
    text-align: center;
    font-size:20pt;
    color: black;
    padding: 10px;
    margin: 2rem
    z-index auto;
    background-color: #F5F0ED;
    border: 3.5px solid ;
    margin-bottom: 2rem;
}

#hero img{
    border-radius: 50%;
    max-width: 200px;}

#hero p{
    font-size: larger;
}

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-color: #F5F0ED;
    border: 3.5px solid ;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

#gallery {
    border: 3.5px solid ;
    margin-bottom: 2rem;
    background-color: #F5F0ED;
}

#gallery img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#literature {
    border: 3.5px solid;
    margin-bottom: 2rem;
    background-color: #F5F0ED;
    text-align: center;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

#literature:hover {
    background-color: #E8E3DF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

#literature div {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5rem;
    padding: 2rem;
    max-width: 100%;
}

#myVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myVideo iframe {
    border: 3.5px solid ;
    margin-bottom: 2rem;
    background-color: #F5F0ED;
    padding: 1em;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F0ED;
    border: 3.5px solid ;
    margin: auto;
    padding: 1em;
    max-width: 500px; 
  }

iframe{
    width: auto;
    height: auto;
    border-radius: 8px;
}

#formElements{
    display: grid;
    row-gap: .5em;
}

#contact input, #contact textarea, #contact select, #contact button{
    font-size: 1rem;
    border: #7DA2A9 2px solid;
    border-radius: 1rem 1rem;
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin: auto;
        text-align: center;
    }
    #literature div {
        max-width:100%;
        columns: 20rem;
    }

}

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery hr h2 {
        display: none;
        grid-column: 1/-1;
        display: block;
    }

    figure{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
}

