header {
font-family:"Roboto";
color:#F5F0ED;
text-align: center;
}

body {
background-color:#BAD7E0;
}

#hero {
text-align: center;
}

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border-style: solid;
    border-color:#F5F0ED;
}

img {
    max-width: 100%;
}

fieldset{
    border: 2px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1rem 1rem;
}

#contact input, #contact textarea, #contact select, #contact button{
    font-size: 1rem;
    border: white 2px solid;
    border-radius: 1rem 1rem;
}

#contact ul{
    list-style: none;
    padding: 0px;
}

#contact li{
    margin: 1rem;
}

@media screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    figcaption {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
    #literature div {
        max-width:100%;
        columns: 20rem;
    }

}

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery hr {
        display: none;
        grid-column: 1/-1;
        display: block;
    }
}

